@mixin skeleton {
  .boardCell {
    position: relative;
    width: 3vw;
    height: 3vw;
    border: 1px solid;
  }
}

@mixin visuals {
  .boardCell {
    border-color: black;

    &--empty {
      background-color: white;
    }

    &--missed {
      background-color: grey;
      &:focus {
        background-color: grey;
      }
    }

    &--occupied {
      background-color: white;
      @at-root .cheating & {
        background-color: wheat;
      }
    }

    &--hit {
      background-color: red;
      &:focus {
        background-color: red;
      }
    }

    &--destroyed {
      background-color: black;
      &:focus {
        background-color: black;
      }
    }

    &:hover {
      border-width: 0.3em;
    }

    &:focus {
      outline: none;
    }
  }
}
